<style>

 	.main {
		width: 100%;
		height: auto;
		margin: 0 auto;
		box-shadow: 0 10px 20px -12px #000;
		padding-top: 1%;
		padding-left: 1%;		
	}

	.entries{
		margin-top: 2%;
	}

	#datatableses {
		margin-top: 2%;
	}

	#datatableses .first {
		  background-color: black;
 		 border: none;
 		 color: white;
		padding: 1px;
		font-size: 16px;
 		 cursor: pointer;
 	 	height:37px;
 	 	width:48px;
 		 margin-right: 5%;
	}

	#datatableses .second {
	 	 background-color: DodgerBlue;
 		 color: white;
		padding: 1px;
 		 cursor: pointer;
 		 height:37px;
 		 width:48px;
 	 	margin-right: 5%;
	}

	#datatableses .third {
	 	 background-color: green;
 		 border: none;
 	 	color: white;
		padding: 1px;
		font-size: 16px;
 		 cursor: pointer;
		height:37px;
 		 width:48px;
 		 margin-right: 5%;
	}

	label {
   		 display: inline-block;
   		 max-width: 100%;
   		 margin-bottom: 5px;
   		 font-weight: 700;
		float: left;
	}

	.btnss {
		font-size: 60px;
	}

	
	@media (max-width: 768px) {

		.main {
			width: 90%;
		height: auto;
		margin: 0 auto;
		box-shadow: 0 10px 20px -12px #000;
		margin-left: 2%;
		padding-top: 2%;
		}

		#roles {
			width: 20%;
		}

		.entries {
			margin-top: 7%;
		}

		.entries span {
			font-size: 20px;
		}

		.fa {
			width: 10%;
		}
	}

</style>


		<div class="main">


			<div class="userbtns">
				<button type="button" class="btn btn-primary" style="background-color: black">Tags List</button>				

				 <button class="btn btn-primary" id="refresh" style="float: right;background-color: black;"><span class="glyphicon glyphicon-refresh"></span> Refresh</button>				
			</div>


			<div>
				<table class="table table-bordered" id="rajates">
  					<thead>
    				<tr>
       					<th>List Tags</th>
       					<th>Created By</th>
       				 	<th>Create Date</th>
       				 	<th>Actions</th>
      				</tr>
   					</thead>
   					<tbody id="listing">
   						
   					</tbody>
  				</table>

		</div>

			</div>

	</div>


	<!-- delete modal -->

<div class="modal fade" id="deletetag" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalCenterTitle"><b>Delete Tag!</b></h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete 
        <span id="deletedata"></span></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal" id="btnss">Yes</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>
