<style>
	.rajat {
		display: flex;
		overflow-y: hidden;
		height: 92vh;
		width: 100%;
	}

	#menu {
		height: 92vh;
		background-color: #222D3C;
		width: 50px;
		transition-property: width;
		transition-duration: 0.7s;
		box-sizing: border-box;
		float: left;
	}

	.fa {
		color: #fff;
		font-size: 25px;
		width: 30px;
		margin: 6px 15px;
		margin-left: 11px;
		box-sizing: border-box;
	}

	#menu span {
		display: none;
	}

	.menu-item {
		cursor: pointer;
		opacity: 0.8;
		color: #fff;
		font-family: sans-serif;
		font-size: 14px;
	}

	.menu-item:hover {
		opacity: 1;
		background-color: #4d5866;
	}

@media (max-width: 768px) {


	.menu {
		width: 50%;
	}

	}

</style>

<div class="rajat">

		 <div id="menu">
			<div class="menu-item" id="sideBtn"><i class="fa fa-bars"></i><span>cq</span></div>
			<div class="menu-item"><i class="fa fa-home" id="homepage"></i><span>Home</span></div>
			<div class="menu-item"><i class="fa fa-plus-square" id="addnewuser"></i><span>Add User</span></div>
			<div class="menu-item"><i class="fa fa-list-ul" id="requestusers"></i><span>Users List</span></div>
			<div class="menu-item"><i class="fa fa-list-alt"></i><span>Community List</span></div>
			<div class="menu-item"><i class="fa fa-toggle-off"></i><span>Switch As User</span></div>
			<div class="menu-item"><i class="fa fa-tags"></i><span>Tag Panel</span></div>
			<div class="menu-item"><i class="fa fa-lock" id="changePassword"></i><span>Change Password</span></div>
			<div class="menu-item"><i class="fa fa-sign-out"></i><span>Logout</span></div>
		</div>

