<div id="sidebar">
    <ul class="sidebar-list">
        <li class="list" id="mobile-pic">
            <div style="margin-right:10px">
                <center>
                    <img src="images/default.png" id="mobile-img">
                </center>
            </div>
        </li>
        <li class="list">
        <a onclick="openbar()" id="open">
            <span class="list-span">
                <i class="fas fa-bars" id="icon"></i>
            </span>
                Cq
        </a>
        </li>

        <li class="list">
            <a onclick="homepage()">
                <span class="list-span">
                    <i class="fas fa-home" id="icon"></i>
                </span>
                Home
            </a>
        </li>

        <li class="list">
            <a onclick="open_adduser_page()">
                <span class="list-span">
                    <i class="fas fa-plus-square" id="icon"></i>
                </span>
                Add User
            </a>
        </li>


        <li class="list">
            <a onclick="openuserlist()">
                <span class="list-span">
                    <i class="fas fa-list" id="icon"></i>
                </span>
                Users List
            </a>
        </li>

        <li class="list">
            <a href="#">
                <span class="list-span">
                    <i class =" fas fa-list-alt" id="icon"></i>
                </span>
                Community List
            </a>
        </li>

        <li class="list">
            <a href="#">
                <span class="list-span">
                    <i class="fas fa-toggle-off" id="icon"></i>
                </span>
                Switch As User
            </a>
        </li>

        <li class="list">
            <a onclick="opentagpage()">
                <span class="list-span">
                    <i class="fas fa-tags" id="icon"></i>
                </span>
                Tag Panel
            </a>
        </li>

        <li class="list">
            <a onclick="changepassword()">
                <span class="list-span">
                    <i class="fas fa-lock" id="icon"></i>
                </span>
                Change Password
            </a>
        </li>

        <li class="list">
            <a onclick="openlogoutpage()">
                <span class="list-span">
                    <i class="fas fa-sign-out-alt" id="icon"></i>
                </span>
                Logout
            </a>
        </li>



    </ul>
</div>

<div class="modal" id="exampleModalCenter" tabindex="-1" role="dialog"  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">

                <div class="logout">

                <span id="confirm">Confirm Logout!</span>
                <p id="ask">Do you really want logout?</p>

                <button type="button" class="btn" id="yes">Yes</button>
                <button type="button" class="btn" id="no" data-dismiss="modal">No</button>
                </div>
</div>
