<style>
	.navbar-default-bar {
	    background-color: #222D3C;
	    color: #fff;
	    border-radius: 0;
	    border: 0;
	    height: 60px;
	}

	.navbar-brand {
	    float: left;
	    height: 50px;
	    padding: 15px 15px;
	    font-size: 25px;
	    line-height: 23px;
	}

	.profilePic {
	    width: 40px;
	    height: 40px;
	    margin-left: 30px;
	    float: right;
	    border-radius: 50%;
	}

	.label {
	    font-size: 95%;
	    font-weight: 700;
	}
</style>

<nav class="navbar navbar-default-bar no-margin navbar-bar-head-fixed bg-dark"  id="nav-header">

		 	<div class="navbar-header fixed-brand">
	            <i class="fa fa-bars" class="menu-item" id="sideBtn" style="margin-top: 12px;cursor: pointer;"></i>	        
	            <a class="navbar-brand" href="#" style="color: white;font-weight: bold;">cq</a>
	     	</div>

	     	<div class="label-success mobile">	
	     		<img src="images/default.png" class="profilePic">
	     		<span class="label label-success" style="float:right;margin-top:12px;margin-left:5px;color: white;background: green">Admin</span>
	     	</div>

</nav>