<%- layout('layout/layout.ejs') %>

	<%- include('paritials/topbar.ejs') %>
    <div id="viewscreen" >
        <%- include('paritials/sidenavbar.ejs') %>
            <div id="rightview" >
                <div class="container" style="padding:0;">
                    <div class="row">
                        <div class="col-lg-12" style="padding:0">
                            <div class="container">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-6" style="border: 5px solid rgba(0,0,0,0.1);margin-top: 40px;">
                                    <div class="alert alert-info" id="email_info" style="display: none;">
                                    	<center id="display_email"></center>
                                    </div>
                                    <h1 class="heading">Add User</h1>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="student_name" placeholder="Name" required><br>
                                        </div>
                                            <div class="form-group">
                                                <input type="email" class="form-control" id="email2" placeholder="Email" onchange="email_avail()" required><br>
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control" id="password2" placeholder="User Password" required><br>
                                            </div>
                                            <div class="form-group">
                                                <input type="number" class="form-control" id="phone" pattern="\d*" placeholder="Phone" maxlength="10"><br>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="City" placeholder="City" required><br>
                                            </div>
                                            <div class="form-group">
                                                <label>Role</label>
                                                <br>
                                                <select data-style="btn-info" class="form-control" id="roleid">
                                                    <optgroup label="Select User Role">
                                                        <option value="User">User</option>
                                                        <option value="Community Manager">Community Builder</option>
                                                        <option value="admin">Admin</option>
                                                    </optgroup>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>Gender</label>
                                                <br>
                                                <select data-style="btn-info" class="form-control" id="genderid">
                                                    <optgroup label="Select Gender">
                                                        <option value="Male">Male</option>
                                                        <option value="Female">Female</option>

                                                    </optgroup>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <input type="submit" value="Add User" class="btn btn-success" id="add_student">
                                                <input value="Cancel" class="btn btn-danger" id="cancel_student">
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</html>

<script type="text/javascript" src="js/add_user.js"></script>