<!DOCTYPE html>
<html>
<head>
	<title>CQ</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<style>
	body {
	margin: 0;
	padding: 0;
	height: auto;
}

header {
	z-index: 1;
	background-color: white;
	color: #000;
}

.top-bar {
	height: 60px;
	width: 100%;
	text-align: left;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    top: 0;
}

.top-bar p{
	margin: 0;
	font-size: 30px;
	padding: 10px;
	font-weight: bold;
}

.container {
	margin-top: 8%;
}

.login-form {
	height: 300px;
	width: 60%;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.6);
}

.login-form p {
	padding: 1%;
	font-size: 34px;
}

.footer {
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
	height: 80px;

}

.footer p {
	height: 80px;
	font-size:25px;
	font-weight:bold;
	color:#7f7f84;
	box-shadow: 0 0 10px rgba(0,0,0,0.6);
	margin: 0;
}

@media(max-width: 768px)
{
  .login-form{
    width: 100%;
  }
}
</style>
<body>

	<header class="top-bar">  <!--top bar to display cq -->
		<p>CQ</p>
	</header>

	<center>
		<div class="container">
			<div class="login-form">
				<p>Log Into Your Account</p>

					<div class="form-group" style="margin: 10px">
						<input type="text" required="required" class="form-control" placeholder="Username" id="n"><br/>
					</div>

					<div class="form-group" style="margin: 10px">
						<input type="password" name="" class="form-control" placeholder="Password" id="pass"><br/>
					</div>

					<div class="form-group" style="margin: 10px">
						<button class="btn btn-success" id="submit">Login</button>
					</div>
					
				
			
			</div>	
		</div>
	</center>

	<footer class="footer" style="fixed">
		<center>
			<p>cq © 2019</p>
		</center>
		
	</footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>


</body>
</html>