<%- layout('layout/layout.ejs') %> 

    <%- include('paritials/topbar.ejs') %>
    <div id="viewscreen" >
    <%- include('paritials/sidenavbar.ejs') %>
        <div id="rightview">
            <div class="container-fluid">
                <div class="row">
                    <div id="commHeader" style="height:50px;padding-top:6px;">
                        <div class="col-sm-4">
                            <a class="btn" id="first-btn">
                                <i class="fa fa-users"></i>
                            </a>

                            <a class="btn" id="search-btn" style="margin-left:10px;">
                                <i class="fa fa-search"></i>
                            </a>
                        </div>

                        <div class="col-sm-4 col-sm-push-4 pc" style="padding:0 50px 0 0">
                            <input class="form-control searchCommunityDiscover" type="text" placeholder="Search Community..." id="searchinput">
                        </div>
                     </div>

                        <div class="search" id="search">
                            <div class="container">
                                <div id="bigDiv" style="margin-top:2%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<script src="/js/invitedCommunity.js"></script>
</html>