<%- layout('layout/layout.ejs') %> 
  
  <%- include('paritials/topbar.ejs') %>
  <div id="viewscreen" >
  <%- include('paritials/sidenavbar.ejs') %>
    <div id="rightview">
        <div class="row">
          <div class="col-lg-12">
          
              <div id="commHeader">
                  <a class="btn" href="#" id="menu-btn">
                    <i class="fa fa-users"></i>
                  </a>

                  <a class="btn" href="/community/searchingCommunity" id="menu-btn">
                    <i class="fa fa-search"></i>
                  </a>

                  <a class="btn" style="float: right;margin-right:10px" href="/community/invitedCommunity" id="menu-btn">
                      Notifications
                  </a>
              </div>

              <div class="container" >
                <div class="panel community-panel-main-div">
                  <div class="panel-heading community-panel-heading">

                    <p style="color:white;margin-top:6px;font-weight:bold">My Communities</p>

                    <div  id="createCommunity" style="visibility: hidden;">
                      <a href="/community/addNewCommunity" class="btn btn-info community-panel-btn" style="float:right;margin:-35px 5px 0 0">Create</a>
                    </div>

                  </div>

                  <div class="panel-body">
                    <div id="displayAllCommunity"></div>
                  </div>

                </div>    
              </div>  
          </div>
        </div>
    </div>
  </div>
        
<script src="/js/joinedCommunities.js"></script>

</html>

<script>
  var role = <%-JSON.stringify(data.role)%>

  if(role == "Community Manager") {
    document.getElementById('createCommunity').style.visibility = 'visible'
  }
</script>