<!DOCTYPE html>
<html>
<head>
		<title>CQ</title>
		    <meta name="viewport" content="width=device-width, initial-scale=1">
	   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	  	<link rel="stylesheet" type="text/css" href="css/datatables.css">
		<link type="text/css" href="css/datatables.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">		
		
	</head>
	<style>
		body {
			height: 100vh;
		}

	</style>
		

	

	<body>

	<% include partials/top-bar %>
	<% include partials/side-navbar %>
	<% include partials/listtags %>

<script type="text/javascript" src="js/datatables.js"></script>
<script type="text/javascript" src="js/datatables.min.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
	<script type="text/javascript" src="js/listtags.js"></script>

	<script type="text/javascript">
		var menu = document.getElementById("menu");
		var sideBtn = document.getElementById("sideBtn");
		var span = menu.getElementsByTagName("span");
		sideBtn.addEventListener("click", function () {
			if(menu.style.width == '300px') {
				menu.style.width = '50px';
		
				for(var i = 0;i<span.length;i++) {
					span[i].style.display = 'none';
				}
			} 

			else {
				menu.style.width = '300px';
				setTimeout(function () {
					for(var i = 0;i<span.length;i++) {
						span[i].style.display = 'inline';
					
					}
				}, 210);

			}
		})
	</script>
  

</body>
</html>