<%- layout('layout/layout.ejs') %> 


    

  

    <%- include('paritials/topbar.ejs') %>
    <div id="viewscreen" >
    <%- include('paritials/sidenavbar.ejs') %>
        <div id="rightview">
            <div class="row">
                <div class="col-lg-12">
                    <div id="commHeader">

                        <a class="btn" href="#" id="menu-btn">
                            <i class="fa fa-users"></i>
                        </a>

                        <a class="btn" href="/community/searchingCommunity" id="menu-btn">
                            <i class="fa fa-search"></i>
                        </a>

                        <div class="btn" style="float: right;margin-right:2%;">
                            <input class="form-control searchCommunityDiscover" type="text" placeholder="Search Community..." id="searchinput">
                        </div>

                    </div>

                    <div class="container">
                        <div id="bigDiv" style="margin-top:2%;"></div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

<script src="/js/searchingCommunity.js"></script>


</html>