.communityheader-profile-mobile {
    height: 50px;
}

.community-header-top {
    width: 100%;
    background-image: linear-gradient(to bottom, #4ba2b7, #42a6be, #38aac6, #29adcd, #0fb1d5);
    height: 50px;
}
#dpimage
{
    cursor: pointer !important;
    width: 40px;
    margin-left: 30px;
    margin-top: 2px;
    margin-right: 10px;
    float: right;
    border-radius: 50%;
    vertical-align: middle;
    border: 0;
}

.pc {
    display: block !important;
}

@media (min-width: 768px) {
.container {
    width: 750px;
}
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.community-panel-btn {
    color: #fff;
    background: transparent;
    border-color: #fff;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

.btn {
    border-radius: 0;
}
.btn {
    outline: none !important;
}
.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}
center {
    display: block;
    text-align: -webkit-center;
}
.communityprofile-name-mobile {
    display: none;
    font-family: 'Open Sans', sans-serif;
}
a {
    cursor: pointer;
}

a {
    color: #337ab7;
    text-decoration: none;
}
a {
    background-color: transparent;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
.pc {
    display: block !important;
}
.pc {
    display: block !important;
}

.img-communityprofile-pic {
    background: rgb(255, 255, 255) !important;
    height: 100px;
    width: 100px;
    z-index: 2;
    position: absolute;
    margin-top: -40px;
    border: 4px solid #fff;
}

.allSides {
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);
}
img, .navbar-brand {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}

.communityprofile-name-pc {
    overflow: auto;
    z-index: 1;
    height: 60px;
    margin-top: 15px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    /* color: #838686; */
    text-transform: capitalize;
    font-weight: bold;
}

.commuity-profile-menu-btn {
    margin-bottom: 5px;
    float: right;
    border: 2px solid #D1CFCF;
}

.btn {
    border-radius: 0;
}
.btn {
    outline: none !important;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}
.manageCommunity-head-btn {
    width: 80%;
    color: #6F6E6E;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    padding: 4px;
    margin-top: 2px;
    text-decoration: none;
}

nonLink {
    cursor: context-menu !important;
}
.pc {
    display: block !important;
}

a {
    cursor: pointer;
}
.allSidesSoft {
    box-shadow: 0 3px 10px 0 rgba(115,143,147,.3);
}

.panel-body {
    padding: 15px;
}

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #eeeeee;
    border-radius: 0.25rem;
}
.allSidesSoft {
    box-shadow: 0 3px 10px 0 rgba(115,143,147,.3);
}
.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}
.d-flex {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
}
.image-container {
    position: relative;
}
.image-container {
    position: relative;
}

.ml-auto {
    margin-left: auto!important;
}

.d-none {
    display: none!important;
}

.btn {
    border-radius: 0;
}
.btn {
    outline: none !important;
}
.btn-group-sm>.btn, .btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

form {
    display: block;
    margin-top: 0em;
}
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}

.btn {
    border-radius: 0;
}
.btn {
    outline: none !important;
}
.btn-group-sm>.btn, .btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
input {
    line-height: normal;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
input[type="button" i] {
    padding: 1px 6px;
}

.image-container {
    position: relative;
}
.image-container {
    position: relative;
}
form {
    display: block;
    margin-top: 0em;
}

.community-user-div {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}