#commHeader {
    height:50px;
    padding-top:6px; 
    padding-left: 5%;
    background-image: linear-gradient(to bottom, #4ba2b7, #42a6be, #38aac6, #29adcd, #0fb1d5);
}

.community-panel-main-div {
    margin-top: 3%;
    margin-left: 2%;
}
.community-panel-heading {
    background-image: linear-gradient(to bottom, #4ba2b7, #42a6be, #38aac6, #29adcd, #0fb1d5);
}

#menu-btn {
    border: 1px solid #fff;
    color: #fff;
    border-bottom: 4px solid #fff;
    background-color: rgba(255,255,255,0.1);
}