.container-fluid {
    padding: 0px;
    margin: 0px;

}

.custom-width{
    width: 100vh;
    margin: 20px;
}

.cap-icon {
    height: 6vh;
    cursor: pointer;
}

.sign-in {
    font-size: 1.5rem;
}

.outer-align {
    display: flex;
    justify-content: center;
}

.sign-in-button {
    width: 100%;
}

@media only screen and (max-width: 600px){
    .outer-align{
        display: flex;
    }
    .custom-width{
        margin: 0px;
    }
}