#viewscreen {
  padding-left: 0px;
  overflow: hidden;
}

#sidebar{
    z-index: 1000;
    position: fixed;
    left: 250px;
    width:50px;
    height: 100%;
    margin-left: -250px;
    overflow:hidden;
    background: #000;
    transition: 0.9s;
    margin-top: 60px;
}

#sidebar.sidebar-width {
    width:250px;
}

#rightview {
    width: 100%;
    overflow-x: hidden;
    transition: 0.5s;
    margin-top: 60px;
}

.sidebar-list {
    padding:0px;
    width:250px;
}

.list {
    line-height: 40px;
    text-indent:15px;
    font-size: 20px;
    display: block;
}

#icon {
    float: left;
    position: relative;
    line-height: 40px;
    width : 2.5em;
}

li a {
    display:block;
    cursor: pointer;
    color: #999999;
}

li a:hover{
    text-decoration: none;
    color : white;
    background: rgba(255, 255, 255, 0.2);
}